/* Navbar.css */

.navbar {
    background-color: #333;
    padding: 5px 0;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the items horizontally */
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
  }
  
  nav li {
    padding: 5px 8px; /* Reduce the padding to make the items closer */
  }
  
  nav li a {
    font-weight: bold; /* Make the link text bolder */
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Reduce the font size for the navigation links */
  }
  
  nav li a:hover {
    text-decoration: underline;
  }
  
  nav button {
    color: #fff;
    background-color: #e74c3c;
    border: none;
    padding: 5px 8px; /* Reduce the padding to make the button smaller */
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #c0392b;
  }
  